html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.about-para {
    font-size: 18px;
    color: rgb(56, 56, 56);
}

.brand-logos {
    width: 70px;
    padding: 0 8px;
}

.btn-mood {
    color: white;
    background-color: #18b8d1;
    border-color: #18b8d1;
}

.col-padding {
    padding: 0 20px;
}

.content {
    flex: 1 0 auto;
}

.description-para {
    font-weight: 500;
    color: darkgrey;
}

.footer {
    flex-shrink: 0;
    color: white;
}

.how-icon {
    margin: 0 auto;
    width: 100%;
    max-width: 200px;
    display: block;
}

.image {
    width: 100%;
}

.jumbotron {
    background-color: #f8f8f8;
}

.link:link {
    font-size: 18px;
    color: #09a1b8;
    text-decoration: none;
}

.link:visited {
    font-size: 18px;
    color: #09a1b8;
    text-decoration: none;
}

.link:hover {
    font-size: 18px;
    color: #056877;
    text-decoration: none;
}

.link:active {
    font-size: 18px;
    color: #056877;
    text-decoration: none;
}

.mobile-image-display {
    display: none;
    max-width: 400px;
}

.mood-blue {
    background-color: #18b8d1;
}

.nav-logo {
    height: 30px;
}

.nav-margin {
    margin-left: 15px;
    margin-right: 15px;
}

.sub-header {
    font-size: 22px;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.top-left-col {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#app-store-logos {
    width: 60%;
    max-width: 230px;
}

#founder-image-mobile {
    max-width: 270px;
}

#media-image-mobile {
    max-width: 270px;
}

#our-mission-mobile {
    display: none;
}

#phone-image {
    max-width: 220px;
}

@media (max-width: 400px) {
    .nav-logo {
        height: 25px;
    }

}

@media (max-width: 575px) {
    body {
        text-align: center;
    }

    .brand-logos {
        width: 65px;
        padding: 0 8px;
    }

    .center-image {
        margin: 0 auto;
    }

    .container {
        max-width: 500px;
    }

    .desktop-image-display {
        display: none;
    }

    .headline-row {
        margin-top: 10px;
    }

    .mobile-image-display {
        display: initial;
    }

    .work-col {
        margin-top: 20px;
    }

    .top-left-col {
        display: block;
    }

    #app-store-logos {
        margin-bottom: 15px;
    }

    #our-mission {
        display: none;
    }

    #our-mission-mobile {
        display: initial;
    }
}

@media (min-width: 576px) and (max-width:767px) {
    body {
        text-align: center;
    }

    .center-image {
        margin: 0 auto;
    }

    .container {
        max-width: 500px;
    }

    .desktop-image-display {
        display: none;
    }

    .headline-row {
        margin-top: 10px;
    }

    .mobile-image-display {
        display: initial;
    }

    .work-col {
        margin-top: 20px;
    }

    .top-left-col {
        display: block;
    }

    #app-store-logos {
        margin-bottom: 15px;
    }

    #our-mission {
        display: none;
    }

    #our-mission-mobile {
        display: initial;
    }

}

@media (min-width: 768px) and (max-width: 991px) {
    .display-4 {
        font-size: 35px;
    }

    #app-store-logos {
        margin-bottom: 35px;
        width: 70%;
    }

    #feel-better-div {
        padding-top: 20px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) { 

    .display-4 {
        font-size: 42px;
    }

    #app-store-logos {
        margin-bottom: 45px;
    }
}

@media (min-width: 1200px) {

    .display-4 {
        font-size: 42px;
    }

    .nav-margin {
        margin-left: 40px;
        margin-right: 40px;
    }

    #app-store-logos {
        margin-bottom: 45px;
    }

}
