@font-face {
	font-family: "PlayfairDisplay";
	src: local("PlayfairDisplay"), url("./fonts/PlayfairDisplay-VariableFont_wght.ttf") format("truetype");
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    max-width: 1300px;
    margin: 0 auto;
}

.about-banner-text {
    position: absolute;
    font-family: 'PlayfairDisplay', serif;
    letter-spacing: 1px;
    font-size: 90px;
    color: white
}

.about-banner-text-1 {
    left: 15%;
    top: 26%;
}

.about-para {
    font-size: 18px;
    color: rgb(56, 56, 56);
}

.affiliate-banner-text {
    position: absolute;
    font-family: 'PlayfairDisplay', serif;
    letter-spacing: 1px;
    font-size: 74px;
    white-space: nowrap;
}

.affiliate-banner-text-1 {
    bottom: 22%;
    right:7%;
}

.affiliate-icon {
    width: 70%;
}

.banner-container {
    position: relative;
    text-align: center;
}

.banner-fit {
    width: 100%;
}

.brand-logos {
    width: 70px;
    padding: 0 8px;
}

.btn__container {
    max-width: 1200px;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fill, 260px);
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
    row-gap: 10px;
    margin: 0 auto;
    justify-content: center;
    
}
.button__container{
    margin-bottom: 70px;
}

.btn__container2{
   
    max-width: 920px;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fill, 260px);
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
    row-gap: 10px;
    padding-top: 10px;
    margin-bottom: 100px;
    justify-content: center;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:visited,
.btn-secondary:focus {
    padding: 12px 28px;
    border: none;
    background-color:hsla(337, 83%, 18%, 0.877);
    font-size: 18px;
    border-radius: 35px;
    outline: none;
    text-decoration: none;  
    color: white;
   
}
.btn__secondary,
.btn__secondary:hover,
.btn__secondary:active,
.btn__secondary:visited,
.btn__secondary:focus {
    padding: 12px 28px;
    border: none;
    background-color:hsla(337, 83%, 18%, 0.877);
    font-size: 22px;
    border-radius: 35px;
    outline: none;
    text-decoration: none;  
    color: white;
   
}

.btn-mood {
    color: white;
    background-color: #18b8d1;
    border-color: #18b8d1;
}
.cards{
    max-width: 1140;
    margin: 0 auto;
    display: -ms-grid;
    display: grid; 
    grid-template-columns: repeat(2, 371px);
    row-gap: 50px;
    -moz-column-gap: 150px;
    -webkit-column-gap: 150px;
            column-gap: 150px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.container__text {
    margin-bottom: 100px;
}
.col-padding {
    padding: 0 20px;
}

.contact-banner-text {
    position: absolute;
    font-family: 'PlayfairDisplay', serif;
    letter-spacing: 1px;
    font-size: 90px;
    color: white;
    transform: translate(-50%,-50%);
}

.contact-banner-text-1 {
    left: 40%;
    top: 22%;
    white-space: nowrap;
}

.content {
    flex: 1 0 auto;
}

.description-para {
    font-weight: 500;
    color: darkgrey;
}

.directory-banner-text {
    position: absolute;
    font-family: 'PlayfairDisplay', serif;
    letter-spacing: 1px;
    font-size: 74px;
    white-space: nowrap;
    color: white;
}

.directory-banner-text-1 {
    bottom: 22%;
    right:3%;
}

.directory-card {
    background-color: rgb(24, 184, 208);
    border-radius: 30px;
    padding: 30px;
    max-width: 600px;
    height: 100%;
    margin: 0 auto;
}

.directory-card-button:link {
    color: rgb(24, 184, 208);
    text-decoration: none;
}

.directory-card-button:active {
    color: rgb(24, 184, 208);
    text-decoration: none;
}

.directory-card-button:visited {
    color: rgb(24, 184, 208);
    text-decoration: none;
}

.directory-card-button:hover {
    color: rgb(24, 184, 208);
    text-decoration: none;
}

.directory-card-button-div {
    background-color: white;
    border-radius: 30px;
    padding: 15px;
    max-width: 400px;
    margin: 0 auto;
}

.directory-card-content {
    max-width: 480px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.directory-card-image {
    background-color: white;
}

.directory-card-text {
    font-size: 18px;
    color: white;
}

.filterBtn {
    display: none;
}

.filterShow {
    display: flex;
}
.footer {
    flex-shrink: 0;
    color: white;
}

.footer-text {
    background-color: white !important;
    color: #212529;
}

.how-icon {
    margin: 0 auto;
    width: 100%;
    max-width: 200px;
    display: block;
    border-radius: 50%;
}

.image {
    width: 100%;
}

.jumbotron {
    background-color: #f8f8f8;
}

.link:link {
    font-size: 18px;
    color: #09a1b8;
    text-decoration: none;
}

.link:visited {
    font-size: 18px;
    color: #09a1b8;
    text-decoration: none;
}

.link:hover {
    font-size: 18px;
    color: #056877;
    text-decoration: none;
}

.link:active {
    font-size: 18px;
    color: #056877;
    text-decoration: none;
}

.maitri-logos {
    margin: 0 auto;
    width: 100%;
    max-width: 200px;
    display: block;
}

.media-banner-text {
    position: absolute;
    font-family: 'PlayfairDisplay', serif;
    letter-spacing: 1px;
    font-size: 90px;
    color: white
}

.media-banner-text-1 {
    right: 7%;
    top: 10%;
}

.mobile-image-display {
    display: none;
    max-width: 400px;
}

.mood-blue-jumbo {
    background-color: #18b8d1;
    color: white;
}

.nav-logo {
    height: 30px;
}

.nav-margin {
    margin-left: 15px;
    margin-right: 15px;
}

.partners-banner-text {
    position: absolute;
    font-family: 'PlayfairDisplay', serif;
    letter-spacing: 1px;
    font-size: 75px;
    color: white;
    background-color: rgba(0,0,0,0.7);
    padding: 10px 20px 14px 20px;
    /* border-radius: 4px; */
    text-align: left;
}

.partners-banner-text-1 {
    /* left: 10%;
    top: 11%; */
    left: 5%;
    top: 12%;
}

.phone-image {
    max-width: 280px;
}

.rise-logo {
    height: 200px; 
    width: 100%; 
    margin: 0 auto; 
    object-fit: cover;
}

.sub-header {
    font-size: 22px;
}

.team-banner-text {
    position: absolute;
    font-family: 'PlayfairDisplay', serif;
    letter-spacing: 1px;
    font-size: 90px;
    color: white
}

.team-banner-text-1 {
    left: 14%;
    top: 11%;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.thank-you-contact-banner-text {
    position: absolute;
    font-family: 'PlayfairDisplay', serif;
    letter-spacing: 1px;
    font-size: 90px;
    color: white;
    transform: translate(-50%,-50%);
}

.thank-you-contact-banner-text-1 {
    left: 34%;
    top: 16%;
    white-space: nowrap;
}

.thank-you-affiliate-banner-text {
    position: absolute;
    font-family: 'PlayfairDisplay', serif;
    letter-spacing: 1px;
    font-size: 90px;
    color:black;
    /* transform: translate(-50%,-50%); */
}

.thank-you-affiliate-banner-text-1 {
    left: 34%;
    bottom: 0%;
    white-space: nowrap;
}

.top-left-col {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.work-banner-text {
    position: absolute;
    font-family: 'PlayfairDisplay', serif;
    letter-spacing: 1px;
    font-size: 90px;
}

.work-banner-text-1 {
    top:12%;
    left:10%
}

#founder-image-mobile {
    max-width: 270px;
}

#learn-more-button {
    font-size: 20px;
    padding: 12px 20px;
}

#media-image-mobile {
    max-width: 270px;
}

#our-mission-mobile {
    display: none;
}

@media (max-width: 400px) {
    body {
        text-align: center;
    }

    .about-banner-text {
        font-size: 36px;
    }

    .about-banner-text-1 {
        left: 6%;
        top: 21%;
    }

    .affiliate-banner-text {
        font-size: 19px;
        letter-spacing: normal;
    }

    .affiliate-banner-text-1 {
        bottom: 12%;
        right:6%;
    }

    .brand-logos {
        width: 65px;
        padding: 0 8px;
    }

    .contact-banner-text {
        font-size: 40px;
    }

    .container {
        max-width: 500px;
    }

    .desktop-image-display {
        display: none;
    }

    .directory-banner-text {
        font-size: 19px;
        letter-spacing: normal;
    }

    .directory-banner-text-1 {
        bottom: 19%;
        right:4%;
    }

    .media-banner-text {
        font-size: 40px;
    }

    .media-banner-text-1 {
        right: 3%;
        top: 5%;
    }

    .mobile-image-display {
        display: initial;
    }

    .nav-logo {
        height: 25px;
    }

    .partners-banner-text {
        font-size: 22px;
        width: 100%;
        text-align: center;
    }

    .partners-banner-text-1 {
        top: 13%;
        left: 0;
    }

    .team-banner-text {
        font-size: 34px;
    }

    .thank-you-affiliate-banner-text {
        font-size: 30px;
    }

    .thank-you-affiliate-banner-text-1 {
        bottom: 0%;
        left: 18%;
    }

    .thank-you-contact-banner-text {
        font-size: 40px;
    }

    .thank-you-contact-banner-text-1 {
        top: 24%;
    }

    .top-left-col {
        display: block;
    }

    .work-col {
        margin-top: 20px;
    }

    .work-banner-text {
        font-size: 28px;
    }

    .work-banner-text-1 {
        top:12%;
        left:7%
    }

    #our-mission {
        display: none;
    }

    #our-mission-mobile {
        display: initial;
    }

}

@media (min-width:401px) and (max-width: 575px) {
    body {
        text-align: center;
    }

    .about-banner-text {
        font-size: 46px;
    }

    .about-banner-text-1 {
        left: 10%;
        top: 21%;
    }

    .affiliate-banner-text {
        font-size: 22px;
    }

    .affiliate-banner-text-1 {
        bottom: 12%;
        right:6%;
    }

    .brand-logos {
        width: 65px;
        padding: 0 8px;
    }

    .contact-banner-text {
        font-size: 46px;
    }

    .container {
        max-width: 500px;
    }

    .desktop-image-display {
        display: none;
    }

    .directory-banner-text {
        font-size: 22px;
    }

    .directory-banner-text-1 {
        bottom: 19%;
        right:5%;
    }

    .media-banner-text {
        font-size: 46px;
    }

    .media-banner-text-1 {
        right: 4%;
        top: 9%;
    }

    .mobile-image-display {
        display: initial;
    }

    .partners-banner-text {
        font-size: 25px;
    }

    .partners-banner-text-1 {
        left: 3%;
        top: 11%;
    }

    .team-banner-text {
        font-size: 42px;
    }

    .thank-you-affiliate-banner-text {
        font-size: 36px;
    }

    .thank-you-affiliate-banner-text-1 {
        bottom: 1%;
        left: 21%;
    }

    .thank-you-contact-banner-text {
        font-size: 46px;
    }

    .thank-you-contact-banner-text-1 {
        top: 20%;
    }

    .top-left-col {
        display: block;
    }

    .work-col {
        margin-top: 20px;
    }

    .work-banner-text {
        font-size: 40px;
    }

    .work-banner-text-1 {
        top:12%;
        left:8%
    }

    #our-mission {
        display: none;
    }

    #our-mission-mobile {
        display: initial;
    }
}

@media (min-width: 576px) and (max-width:767px) {
    body {
        text-align: center;
    }

    .affiliate-banner-text {
        font-size: 35px;
    }

    .about-banner-text {
        font-size: 60px;
    }

    .about-banner-text-1 {
        left: 15%;
        top: 25%;
    }

    .banner-fit {
        object-fit: cover;
        height: 30vh;
        width: 100vw;
        max-width: 1300px;
    }

    .contact-banner-text {
        font-size: 50px;
    }

    .container {
        max-width: 500px;
    }

    .desktop-image-display {
        display: none;
    }

    .directory-banner-text {
        font-size: 35px;
    }

    .media-banner-text {
        font-size: 50px;
    }

    .media-banner-text-1 {
        right: 5%;
        top: 10%;
    }

    .mobile-image-display {
        display: initial;
    }

    .partners-banner-text {
        font-size: 36px;
    }

    .team-banner-text {
        font-size: 60px;
    }

    .team-banner-text-1 {
        left: 14%;
        top: 7%;
    }

    .thank-you-affiliate-banner-text {
        font-size: 44px;
    }

    .thank-you-contact-banner-text {
        font-size: 50px;
    }

    .top-left-col {
        display: block;
    }

    .work-col {
        margin-top: 20px;
    }

    .work-banner-text {
        font-size: 50px;
    }

    #our-mission {
        display: none;
    }

    #our-mission-mobile {
        display: initial;
    }

}

@media (min-width: 768px) and (max-width: 991px) {
    .affiliate-banner-text {
        font-size: 46px;
    }

    .about-banner-text {
        font-size: 80px;
    }

    .banner-fit {
        object-fit: cover;
        height: 35vh;
        width: 100vw;
        max-width: 1300px;
    }

    .contact-banner-text {
        font-size: 70px;
    }

    .display-4 {
        font-size: 44px;
    }

    .directory-banner-text {
        font-size: 46px;
    }

    .media-banner-text {
        font-size: 70px;
    }

    .partners-banner-text {
        font-size: 45px;
    }

    .sub-header {
        font-size: 24px;
    }

    .team-banner-text {
        font-size: 75px;
    }

    .team-banner-text-1 {
        left: 13%;
        top: 6%;
    }

    .thank-you-affiliate-banner-text {
        font-size: 56px;
    }

    .thank-you-affiliate-banner-text-1 {
        left: 32%;
        bottom: 2%;
    }

    .thank-you-contact-banner-text {
        font-size: 70px;
    }

    .work-banner-text {
        font-size: 64px;
    }

    #feel-better-div {
        padding-top: 20px;
    }
}

@media (max-width: 1199px){
    .btn__container{
        display: none;
    }
    .btn__container2{
        display: none;
    }
    .cards{
        grid-template-columns: repeat(2, 340px);
        -moz-column-gap: 100px;
        -webkit-column-gap: 100px;
                column-gap: 100px;
    }
}
@media (max-width: 850px){
    .cards{
        grid-template-columns: repeat(1, 300px);
    }
    .directory-card-text{
        font-size: 14px;
    }
}

@media(min-width: 1200px){
    .filterDrDwn{
        display: none;
    }
}
@media (min-width: 992px) and (max-width: 1199px) { 

    .about-banner-text {
        font-size: 85px;
    }

    .affiliate-banner-text {
        font-size: 60px;
    }

    .banner-fit {
        object-fit: cover;
        height: 35vh;
        width: 100vw;
        max-width: 1300px;
    }

    .contact-banner-text {
        font-size: 75px;
    }

    .display-4 {
        font-size: 50px;
    }

    .directory-banner-text {
        font-size: 60px;
    }

    .media-banner-text {
        font-size: 75px;
    }

    .partners-banner-text {
        font-size: 60px;
    }

    .sub-header {
        font-size: 26px;
    }

    .team-banner-text {
        font-size: 85px;
    }

    .thank-you-affiliate-banner-text {
        font-size: 64px;
    }

    .thank-you-affiliate-banner-text-1 {
        left: 38%;
    }

    .thank-you-contact-banner-text {
        font-size: 75px;
    }

    .work-banner-text {
        font-size: 80px;
    }

}

@media (min-width: 1200px) and (max-width:1399px) {

    .banner-fit {
        object-fit: cover;
        height: 40vh;
        width: 100vw;
        max-width: 1300px;
        
    }

    .display-4 {
        font-size: 50px;
    }

    .nav-margin {
        margin-left: 40px;
        margin-right: 40px;
    }

    .sub-header {
        font-size: 28px;
    }

}

@media (min-width: 1400px) {

    .banner-fit {
        object-fit: cover;
        height: 35vh;
        width: 100vw;
        max-width: 1300px;
        height: 40vh;
    }

    .display-4 {
        font-size: 50px;
    }

    .nav-margin {
        margin-left: 40px;
        margin-right: 40px;
    }

    .sub-header {
        font-size: 29px;
    }
    

}

@media (max-width: 1400px) {
    .btn-secondary{
        font-size: 18px;
    }
}